.shop-body
{
    position: relative;
}

.shop-navigation
{
    margin-bottom: 20px;
}
.shop-navigation a,
.shop-navigation a:visited
{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}
.shop-navigation a.active
{
    text-decoration: underline;
}
.shop-navigation button
{
    float: right;
}

.shop-comments
{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}