.shop-navigation a
{
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}
.shop-navigation a.active
{
    text-decoration: underline;
}

.shop-body
{
    display: table;
    width: 100%;
}
.shop-body > div
{
    display: table-cell;    
}
.shop-body-demo
{
    width: 25%;    
}