<h4>Set product count</h4>
<div *ngIf="info">
  <div>{{info.name}}</div>
  <div>Total price: {{info.totalPrice | currency}}</div>

  <form (ngSubmit)="onBuy()" id="user-form" #form="ngForm">
    <div class='shop-form'>
      <div class='shop-form-row'>
        <div><label for="count">Count</label></div>
        <div>
          <input type="number" 
              min="1" 
              max="{{info.total}}"
              id="count" 
              name="count"
              placeholder="Count"
              required
              [(ngModel)]="info.count" />
        </div>
      </div>
    </div>
    <div class='actions'>
      <button type="submit" [disabled]="form.invalid">Save</button>
      <button type="button" (click)="onBack()">Back</button>
    </div>
  </form>
</div>

